<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Виведення загальних помилок форми -->
    {% if form.non_field_errors %}
        <div class="errors">
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <!-- Виведення помилок для кожного поля -->
    <div>
        {{ form.as_p }}
    </div>

    <!-- Поле для завантаження зображення -->
    <div>
        <label for="id_image">Upload Image:</label>
        <input type="file" name="image" accept="image/*">
        {% if form.image.errors %}
            <div class="errors">
                <ul>
                    {% for error in form.image.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    
    <button type="submit">Create Announcement</button>
    <a href="{% url 'main'%}">Go back</a>
</form>
