{% load static %}


<link rel="stylesheet" href="{% static 'create_gallery_post.css' %}">

<div class="container">
  <h2>Create a New Post with Photos</h2>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ post_form.as_p }}

    <!-- Поле для завантаження декількох фотографій -->
    <label for="photos">Select Photos:</label>
    <input type="file" name="photos" multiple required>

    <button type="submit">Submit Post</button>
  </form>
  <a href="{% url 'gallery' %}">Назад до галереї</a>
</div>