{% extends 'base.html' %}

{% load static %}
{% load video_filters %}

{% block content %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<aside class="sidebar" style="margin: 0;">
    <div class="sidebar-div">
        <nav class="sidebar-nav">
            <a href="{% url 'gallery'%}">Галерея</a>
            <a href="{% url 'event_list'%}">Події</a>
            <a href="">Опитування</a>
        </nav>
    </div>

    
</aside>
<div class="main-container">
    <div class="search-container">
        <form id="search-form" method="get" action="{% url 'main' %}">
            <input type="text" name="search" id="search-input" placeholder="Пошук опитувань та оголошень..." class="search-bar" value="{{ search }}" oninput="submitSearch()">
        </form>

        <div class="post-menu">
            <button class="menu-btn">&#x22EE;</button>  <!-- Кнопка з трьома точками -->
            <div class="dropdown-menu">
                <a href="{% url 'add_announcement'%}">Додати оголошення</a>
                <a href="{% url 'add_poll'%}">Додати голосування</a>
            </div>
        </div>
    </div>
    <div class="list-elements">
        {% for item in items %}
            {% if item.title %}
                <div class="announcement">
                    <div class="announcement-header">
                        <h2>{{ item.title }}</h2>
                        <div class="announcement-menu">
                            <button class="menu-btn-announcement">&#x22EE;</button>  
                            <div class="dropdown-menu-announcement">  
                                <a href="{% url 'edit_announcement' item.id%}">Редагувати</a>
                                <form method="post" action="{% url 'announcement_delete' item.id %}" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="delete-btn" onclick="return confirm('Ви впевнені, що хочете видалити цей пост?');">Видалити</button>
                                </form>
                            </div>
                        </div> 
                    </div>
                    <h2>{{ item.title }}</h2>
                    <p>Created by: {{ item.creator }} | {{ item.created_at }}</p>
                    <p>{{ item.content }}</p>

                    {% if item.video_file %}
                        <video width="320" height="240" controls>
                            <source src="{{ item.video_file.url }}" type="video/mp4">
                        </video>
                    {% elif item.video_url %}
                        {% if 'youtube.com' in item.video_url or 'youtu.be' in item.video_url %}
                            {% with item.video_url|extract_video_id as video_id %}
                                {% if video_id %}
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" 
                                            frameborder="0" allowfullscreen></iframe>
                                {% else %}
                                    <p>Invalid YouTube URL</p>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    {% endif %}
                    {% for image in item.images.all %}
                    
                        <img src="{{ image.image.url }}" alt="Image for {{ item.title }}">
                    
                   
                    {% endfor %}

                    
                    <div class="announcement-footer">
                        <div class="left-actions">
                            <span class="like-count" data-announcement-id="{{ item.id }}">
                                {{ like_counts|get_item:item.id }}
                            </span>
                            <button class="like-button" data-announcement-id="{{ item.id }}">
                                <span class="heart-icon {% if item.id in liked_announcements %}liked{% endif %}">❤</span>
                            </button>
                            <button class="toggle-comments-button" data-announcement-id="{{ item.id }}">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9l-4.2 1.1 1.1-4.2a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.5 8.5 0 017.5 7.5v.5z" />
                                </svg>

                            </button>
                        </div>
                        <div class="post-date">
                            <p>{{ item.created_at|date:"d M Y, H:i" }}</p>
                            {% if item.edited %}
                                <span class="edited-badge">(Редаговано)</span>
                            {% endif %}
                        </div>
                    </div>
                
                    <!-- Секція коментарів -->
                    <div id="comments-{{ item.id }}" class="comments-section" style="display: none;">
                        <div class="existing-comments">
                            {% with comments=comments_by_announcement|get_item:item.id %}
                                {% if comments %}
                                    {% for comment in comments %}
                                        <p><strong>{{ comment.user.username }}</strong> ({{ comment.created_at }}): {{ comment.text }}</p>
                                    {% endfor %}
                                {% else %}
                                    <p>Немає коментарів</p>
                                {% endif %}
                            {% endwith %}
                        </div>
                        
                        <!-- Форма для додавання коментаря -->
                        <form method="POST" action="{% url 'add_comment' %}" class="comment-form" data-announcement-id="{{ item.id }}">
                            {% csrf_token %}
                            <textarea name="text" placeholder="Ваш коментар"></textarea>
                            <button type="submit">Додати коментар</button>
                        </form>
                    </div>
                </div>
            {% elif item.question and item.choices.count > 1 %}
            <div class="poll">
                <div class="poll-header">
                   <h2>{{ item.question }}</h2> 
                   <div class="poll-menu">
                    <button class="menu-btn-poll">&#x22EE;</button>  
                    <div class="dropdown-menu-poll">  
                        <form method="post" action="{% url 'poll_delete' item.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="delete-btn" onclick="return confirm('Ви впевнені, що хочете видалити цей пост?');">Видалити</button>
                        </form>
                    </div>
                </div>
                </div>
                
                {% if item.id in user_voted_polls %}
                    <p>You have already voted. Here are the results:</p>
                    {% for choice in item.choices.all %}
                        <p>{{ choice.choice_text }}: {{ choice.votes.count }} votes</p>
                    {% endfor %}
                    <p>Total votes: {{ poll_data.total_votes }}</p>
                {% else %}

                <form method="POST" action="" class="vote-form" data-poll-id="{{ item.id }}">
                    {% csrf_token %}
                    {% for choice in item.choices.all %}
                        <div>
                            <input type="radio" name="choice_id" value="{{ choice.id }}" id="choice_{{ choice.id }}">
                            <label for="choice_{{ choice.id }}">{{ choice.choice_text }}</label>
                        </div>
                    {% endfor %}
                    <button type="submit">Vote</button>
                </form>
                
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<aside class="sidebar-events" style="margin: 0;">
    <div class="sidebar-div-events">
    </div>
</aside>


<script>
    $(document).ready(function() {
        // Відновлення позиції прокрутки
        if (localStorage.getItem("scrollPosition")) {
            $(window).scrollTop(localStorage.getItem("scrollPosition"));
        }

        // Збереження позиції прокрутки перед перезавантаженням сторінки
        window.onbeforeunload = function() {
            localStorage.setItem("scrollPosition", $(window).scrollTop());
        };
        // Обробка лайків
        $(".like-button").click(function () {
            var button = $(this);
            var announcementId = button.data("announcement-id");
            var action = button.find(".heart-icon").hasClass("liked") ? "unlike" : "like";

            $.ajax({
                url: "{% url 'main' %}", // Змінити на ваш маршрут
                type: "POST",
                data: {
                    announcement_id: announcementId,
                    action: action,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (response) {
                    if (response.success) {
                        // Додати або зняти клас 'liked' для оновлення стилю
                        button.find(".heart-icon").toggleClass("liked");

                        // Оновити кількість лайків
                        $(`.like-count[data-announcement-id="${response.announcement_id}"]`).text(
                            ` ${response.like_count}`
                        );
                    } else {
                        console.error("Error:", response.error);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("AJAX error: " + status + ": " + error);
                }
            });
        });

        // Обробка голосування
        $('.vote-form').submit(function(event) {
            event.preventDefault();
            let form = $(this);
            let pollId = form.data('poll-id');
            let choiceId = form.find('input[name="choice_id"]:checked').val();

            if (!choiceId) {
                alert("Please select an option before voting.");
                return;
            }

            $.ajax({
                url: '',  // Використовуємо поточний URL, обробка на сервері
                type: 'POST',
                data: {
                    poll_id: pollId,
                    choice_id: choiceId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        // If the user has already voted
                        form.html('<p>You have already voted. Here are the results:</p>');

                        // Update the vote results
                        response.results.forEach(result => {
                            form.append(`<p>${result.choice_text}: ${result.votes_count} votes</p>`);
                        });

                        // Show the total number of votes
                        form.append(`<p>Total votes: ${response.total_votes}</p>`);  // Display the total number of votes

                    
                    } else {
                        alert(response.error || "An error occurred while processing your vote request.");
                    }
                },
                error: function(xhr, status, error) {
                    console.log("Error:", error);
                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        alert(xhr.responseJSON.error);
                    } else {
                        alert("An error occurred while processing your vote request.");
                    }
                }
            });
        });
        function toggleComments(announcementId) {
            const commentSection = $(`#comments-${announcementId}`);
            
            if (commentSection.is(':visible')) {
                commentSection.hide();
            } else {
                // Якщо коментарі не завантажені, завантажити їх AJAX-запитом
                if (!commentSection.data('loaded')) {
                    $.ajax({
                        url: '{% url "load_comments" %}', // Маршрут для завантаження коментарів
                        data: { 'announcement_id': announcementId },
                        success: function(response) {
                            if (response.success) {
                                response.comments.forEach(comment => {
                                    commentSection.find('.existing-comments').append(
                                        `<p><strong>${comment.user}</strong> (${comment.created_at}): ${comment.text}</p>`
                                    );
                                });
                                commentSection.data('loaded', true); // Позначаємо коментарі як завантажені
                                commentSection.show(); // Відображаємо секцію коментарів
                            }
                        },
                        error: function() {
                            alert("Не вдалося завантажити коментарі.");
                        }
                    });
                } else {
                    commentSection.show();
                }
            }
        }

        // Прив’язка функції toggleComments до кнопок
        $('.toggle-comments-button').click(function() {
            const announcementId = $(this).data('announcement-id');
            toggleComments(announcementId);
        });


        // AJAX для надсилання коментаря
        $(document).on('submit', '.comment-form', function(e) {
            e.preventDefault();
            const form = $(this);
            const announcementId = form.data('announcement-id');
            const text = form.find('textarea[name="text"]').val();

            $.ajax({
                type: 'POST',
                url: '{% url "add_comment" %}',
                data: {
                    'announcement_id': announcementId,
                    'text': text,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        $('#comments-' + announcementId + ' .existing-comments').append(
                            `<p><strong>${response.user}</strong> (${response.created_at}): ${response.text}</p>`
                        );
                        form.find('textarea[name="text"]').val(''); // Очистити текстове поле
                    } else {
                        alert("Не вдалося додати коментар.");
                    }
                },
                error: function(xhr, status, error) {
                    console.log("Error:", error);
                    alert("Помилка при додаванні коментаря.");
                }
            });
        });
        function submitSearch() {
            const input = document.getElementById('search-input');
            const form = document.getElementById('search-form');
            
            // Оновлює параметр у URL
            const url = new URL(form.action, window.location.origin);
            url.searchParams.set('search', input.value);

            // Відправляє запит і оновлює контент сторінки
            fetch(url)
                .then(response => response.text())
                .then(html => {
                    // Оновлює елементи з результатами
                    document.querySelector('.list-elements').innerHTML = new DOMParser().parseFromString(html, 'text/html').querySelector('.list-elements').innerHTML;
                })
                .catch(error => console.error('Помилка:', error));
        }

        document.querySelectorAll('.menu-btn').forEach(button => {
            button.addEventListener('click', function(event) {
                event.stopPropagation();  // Запобігає закриттю меню, коли натискаєте на кнопку
                const menu = this.closest('.post-menu');
                menu.classList.toggle('active'); // Перемикає активність меню
            });
        });

        document.querySelectorAll('.menu-btn-announcement').forEach(button => {
            button.addEventListener('click', function(event) {
                event.stopPropagation();  // Запобігає закриттю меню, коли натискаєте на кнопку
                const menu = this.closest('.announcement-menu');
                menu.classList.toggle('active'); // Перемикає активність меню
            });
        });
        window.addEventListener('click', function(event) {
            if (!event.target.closest('.announcement-menu')) {
                document.querySelectorAll('.announcement-menu').forEach(menu => {
                    menu.classList.remove('active');  // Сховує меню при кліку поза ним
                });
            }
        });

        // Закриття меню при кліку поза його межами
        window.addEventListener('click', function(event) {
            if (!event.target.closest('.post-menu')) {
                document.querySelectorAll('.post-menu').forEach(menu => {
                    menu.classList.remove('active');  // Сховує меню при кліку поза ним
                });
            }
        });

        document.querySelectorAll('.menu-btn-poll').forEach(button => {
            button.addEventListener('click', function(event) {
                event.stopPropagation();
                const menu = this.closest('.poll-menu'); // Оперуємо з `dropdown-menu-poll`
                menu.classList.toggle('active'); // Додаємо клас `active` до меню
            });
        });

        window.addEventListener('click', function(event) {
            document.querySelectorAll('.dropdown-menu-poll').forEach(menu => {
                if (!event.target.closest('.poll-menu')) {
                    menu.classList.remove('active'); // Приховуємо меню при кліку поза його межами
                }
            });
        });
    });

    
</script>
{% endblock %}