body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Контейнер для форми */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

/* Стилі для групи полів */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 12px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

textarea {
    height: 150px;
    resize: vertical;
}

/* Стилі для кнопки відправки */
.form-actions {
    display: flex;
    justify-content: center;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #45a049;
}

/* Стилі для кнопки назад */
.btn-back {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #007BFF;
    text-decoration: none;
}

.btn-back:hover {
    text-decoration: underline;
}


.error {
    background-color: #ffdddd;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.error ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.error li {
    font-size: 14px;
}