/* Sidebar */
.sidebar-div{
    width: 90%; /* Трохи менше, ніж ширина sidebar для естетики */
    padding-left: 10px;
    padding-top: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    margin-top: 20px; /* Відступ зверху для секції */
    margin-bottom: 20px; /* Відступ знизу для секції */
    max-height: 200px;
    box-sizing: border-box; /* Щоб padding не впливав на ширину */

}
.sidebar {
    padding-top: 20px;
    width: 230px;
    height: 100%; /* Займає всю висоту контейнера */
    box-sizing: border-box; /* Включає відступи в загальний розрахунок */
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;

}

.sidebar-nav a {
    display: block;
    width: 160px;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid rgb(103, 119, 152);
    background-color: rgb(117, 135, 171);
   
}

.sidebar-nav a:hover {
    background-color: rgb(100, 116, 147);
}


.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}