.sidebar-div{
    width: 90%; /* Трохи менше, ніж ширина sidebar для естетики */
    padding-left: 10px;
    padding-top: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    margin-top: 20px; /* Відступ зверху для секції */
    margin-bottom: 20px; /* Відступ знизу для секції */
    max-height: 200px;
    box-sizing: border-box; /* Щоб padding не впливав на ширину */

}
.sidebar {
    padding-top: 20px;
    width: 300px;
    height: 100%; /* Займає всю висоту контейнера */
    box-sizing: border-box; /* Включає відступи в загальний розрахунок */
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;

}

.sidebar-nav a {
    display: block;
    width: 160px;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid rgb(103, 119, 152);
    background-color: rgb(117, 135, 171);
   
}

.sidebar-nav a:hover {
    background-color: rgb(100, 116, 147);
}

.search-container {
    display: flex;
    padding: 10px; /* Внутрішні відступи для контейнера пошуку */
    background-color: #f9f9f9; /* Колір фону для пошукової стрічки */
    border-bottom: 1px solid #ccc; /* Рамка знизу для відділення від списку завдань */
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 600px;
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
}

.event{
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Стилі для блоку з меню */
.edit-menu {
    display: inline-block;
    position: absolute;
    top: 10px; /* Відступ зверху */
    right: 10px; /* Відступ справа */

}

/* Кнопка три крапки */
.menu-btn {
    background: none;
    border: none;
    font-size: 1.5rem; /* Розмір кнопки */
    cursor: pointer;
    padding: 5px;
}

/* Випадаюче меню */
.dropdown-menu {
    display: none; /* Приховане за замовчуванням */
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 10;
    width: max-content; /* Підлаштовується під контент */
    padding: 5px 0;
}

/* Стилі для посилань в меню */
.dropdown-menu a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    font-size: 0.9rem;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
    color: #000;
    cursor: pointer;
}

/* Відображення меню при натисканні */
.edit-menu.active .dropdown-menu {
    display: block; /* Показувати меню */
}

.admin-menu {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}
.admin-dropdown-menu {
    display: none; /* Приховане за замовчуванням */
    position: absolute;
    right: 0;
    top: 100%; /* Випадає нижче кнопки */
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 10;
    width: max-content;
    padding: 5px 0;

}

.admin-dropdown-menu a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    font-size: 0.9rem;
}

.admin-dropdown-menu a:hover {
    background-color: #f0f0f0;
    color: #000;
    cursor: pointer;
}

.admin-menu-btn {
    background: none;
    border: none;
    font-size: 1.5rem; /* Розмір кнопки */
    cursor: pointer;
    padding: 5px;
}

.admin-menu.active .admin-dropdown-menu {
    display: block; /* Відображає меню */
}

.info-board {
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.link-text {
    text-decoration: none; /* Видаляє підкреслення */
    color: black;
}

.event-text {
    display: flex;
    align-items: center;
}

.event-title {
    display: inline-block;
    margin: 0;
    margin-left: 7px;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    font-size: 0.9rem;
}

.delete-btn:hover {
    background-color: #f0f0f0;
    color: #000;
    cursor: pointer;
}