/* Sidebar */
.sidebar-div{
    width: 90%; /* Трохи менше, ніж ширина sidebar для естетики */
    padding-left: 10px;
    padding-top: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    margin-top: 20px; /* Відступ зверху для секції */
    margin-bottom: 20px; /* Відступ знизу для секції */
    max-height: 200px;
    box-sizing: border-box; /* Щоб padding не впливав на ширину */

}
.sidebar {
    padding-top: 20px;
    width: 300px;
    height: 100%; /* Займає всю висоту контейнера */
    box-sizing: border-box; /* Включає відступи в загальний розрахунок */
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;

}

.sidebar-nav a {
    display: block;
    width: 160px;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 2px solid rgb(103, 119, 152);
    background-color: rgb(117, 135, 171);
   
}

.sidebar-nav a:hover {
    background-color: rgb(100, 116, 147);
}

.main-container{
    width: 90%;
}
.announcement{
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.poll{
    margin-bottom: 40px;
    padding: 20px;
    padding-left: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.poll-header {
    position: relative; /* Встановлюємо відносне позиціювання для батьківського контейнера */
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Забезпечує простір між текстом і меню */
    align-items: center;
}

.search-container {
    display: flex;
    padding: 10px; /* Внутрішні відступи для контейнера пошуку */
    background-color: #f9f9f9; /* Колір фону для пошукової стрічки */
    border-bottom: 1px solid #ccc; /* Рамка знизу для відділення від списку завдань */
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 600px;
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px;
    box-sizing: border-box;
}


.post-menu {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

/* Стилізація кнопки */
.menu-btn {
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    display: block; 
}

/* Сховати меню за замовчуванням */
.dropdown-menu {
    display: none; /* Меню за замовчуванням приховане */
    position: absolute;
    top: 100%;  /* Меню буде з'являтись під кнопкою */
    left: 0;    /* Меню вирівнюється по лівому краю кнопки */
    background-color: white;
    border: 1px solid #ddd;
    z-index: 10; /* Перекриває інші елементи */
    width: 160px; /* Ширина меню */
}

/* Стилізація елементів у меню */
.dropdown-menu a {
    display: block;
    padding: 8px 12px;
    color: black;
    text-decoration: none;
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 4px;
}

/* Стилізація при наведенні */
.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

/* Клас активності для меню */
.post-menu.active .dropdown-menu {
    display: block;  /* Показує меню, коли додається клас active */
}

.poll-menu {
    margin-top: -20px;
    position: relative;
    display: inline-block;
}

.menu-btn-poll {
    background: none;
    border: none;
    font-size: 1.5rem; /* Розмір кнопки */
    cursor: pointer;
    padding: 5px;
}

.dropdown-menu-poll {
    display: none; /* Приховане за замовчуванням */
    position: absolute;
    right: 0;
    top: 100%; /* Випадає нижче кнопки */
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 10;
    width: max-content;
    padding: 5px 0;
}

.dropdown-menu-poll a, .dropdown-menu-poll .delete-btn {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    font-size: 0.9rem;
}

.dropdown-menu-poll a:hover, .dropdown-menu-poll .delete-btn:hover {
    background-color: #f0f0f0;
    color: #000;
    cursor: pointer;
}

.poll-menu.active .dropdown-menu-poll {
    display: block;  /* Показує меню, коли є клас active */
}
.announcement-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    position: relative;
}

.announcement-meta {
    flex: 1; /* Робить авторів тексту ліворуч */
    display: flex; /* Включає Flexbox */
    justify-content: space-between; /* Розташовує елементи з рівними проміжками */
    align-items: center;
}

.author {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
}

.announcement-menu {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.menu-btn-announcement {
    background: none;
    border: none;
    font-size: 1.5rem; /* Розмір кнопки */
    cursor: pointer;
    padding: 5px;
}

.dropdown-menu-announcement {
    display: none; /* Приховане за замовчуванням */
    position: absolute;
    right: 0;
    top: 100%; /* Випадає нижче кнопки */
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 10;
    width: max-content;
    padding: 5px 0;
}

.dropdown-menu-announcement a, .dropdown-menu-announcement .delete-btn {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    font-size: 0.9rem;
}

.dropdown-menu-announcement a:hover, .dropdown-menu-announcement .delete-btn:hover {
    background-color: #f0f0f0;
    color: #000;
    cursor: pointer;
}

.announcement-menu.active .dropdown-menu-announcement {
    display: block;  /* Показує меню, коли є клас active */
}
.dropdown-menu-announcement .delete-btn{
    width: 100%;
    border: none;
    background-color: white;
}

.sidebar-events {
    padding-top: 20px;
    width: 300px;
    height: 100%; /* Займає всю висоту контейнера */
    box-sizing: border-box; /* Включає відступи в загальний розрахунок */
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;

}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Розмір іконки */
}

.heart-icon {
    color: rgb(184, 184, 184); /* Стандартний колір для неактивного лайку */
    transition: color 0.3s; /* Анімація зміни кольору */
}

.heart-icon.liked {
    color: red; /* Червоний колір для активного лайку */
}


.toggle-comments-button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px; /* Відступ між іконкою та текстом */
    color: #262626; /* Темно-сірий колір */
    font-size: 16px; /* Розмір тексту */
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    transition: color 0.3s;
}

.toggle-comments-button:hover {
    color: #0095f6; /* Синій колір при наведенні */
}

.toggle-comments-button svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: #262626; /* Чорний контур іконки */
    stroke-width: 2px;
    transition: stroke 0.3s;
}

.toggle-comments-button:hover svg {
    stroke: #0095f6; /* Синій контур при наведенні */
}
.announcement-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.left-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-actions .like-button,
.left-actions .toggle-comments-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}



.left-actions .heart-icon.liked {
    transform: scale(1.2);
}

.post-date {
    text-align: right;
    font-size: 12px;
    color: gray;
}

.post-date .edited-badge {
    font-size: 10px;
    color: #666;
}

.comments-section {
    margin-top: 20px; /* Відступ зверху */
}

.existing-comments {
    margin-bottom: 20px; /* Відступ під коментарями */
}

.comment {
    background-color: #f9f9f9; /* Легкий фон для кожного коментаря */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; /* Структуруємо елементи вертикально */
}

.comment-header {
    font-weight: bold;
    margin-bottom: 5px; /* Відступ між автором і текстом */
}

.comment-text {
    margin-bottom: 5px; /* Відступ між текстом і часом */
}

.comment-time {
    font-size: 0.8em;
    color: #999; /* Колір для часу */
    align-self: flex-end; /* Вирівнюємо час до правого краю */
}

.owner-comment {
    background-color: #e0f7fa; /* Блакитний фон для коментарів власника */
}

.comment-form {
    margin-top: 20px;
}

.comment-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.comment-form button {
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #0056b3;
}

.event{
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.link-text {
    text-decoration: none; /* Видаляє підкреслення */
    color: black;
}

/* Sidebar events */
.sidebar-div-events{
    width: 90%; /* Трохи менше, ніж ширина sidebar для естетики */
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    margin-top: 20px; /* Відступ зверху для секції */
    margin-bottom: 20px; /* Відступ знизу для секції */
    box-sizing: border-box; /* Щоб padding не впливав на ширину */
    max-height: 200px;  /* Встановлює максимальну висоту контейнера */
    overflow-y: auto;   /* Додає вертикальну прокрутку, якщо вміст виходить за межі */
    font-size: 15px;
}

.profile-photo {
    margin-left: -10px;
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Кругла форма аватарки */
    object-fit: cover; /* Адаптація зображення */
}

.user-icon-profile {
    margin-left: -10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.author-middle {
    flex-grow: 1; /* Текст займає весь вільний простір */
}

.announcement {
    position: relative; /* Контейнер має бути відносним для позиціювання */
}