{% extends "base.html" %}

{% block content %}
<h1>Список користувачів</h1>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Пароль (хеш)</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>
                <a href="{% url 'user_edit' user.id %}">Редагувати</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
