

{% load static %}


<link rel="stylesheet" href="{% static 'add_events.css' %}">

<div class = "info-board">
    <h1>Додати подію:</h1>
    <form method="post">
        {% csrf_token %}
        <p><label for="title">Назва події:
        <input type="text" id="title" name="title" required></label></p>

        <p><label for="content">Опис події:
        <textarea type="text" id="content" name="content" required></textarea></label></p>

        <p><label for="date">Дата події:
        <input type="date" id="date" name="date" required></label></p>

        <button type="submit">Зберегти</button>
    </form>
    <a href="{% url 'event_list' %}" class="back-link">Назад</a>
</div>
