{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'events.css' %}">
<aside class="sidebar" style="margin: 0;">
    <div class="sidebar-div">
        <nav class="sidebar-nav">
            <a href="{% url 'gallery' %}">Галерея</a>
            <a href="{% url 'event_list'%}">Події</a>
            <a href="">Опитування</a>
        </nav>
    </div>


</aside>
<div class = "info-board">
    <h1>Додати подію:</h1>
    <form method="post">
        {% csrf_token %}
        <p><label for="title">Назва події:
        <input type="text" id="title" name="title" required></label></p>

        <p><label for="content">Опис події:
        <textarea type="text" id="content" name="content" required></textarea></label></p>

        <p><label for="date">Дата події:
        <input type="date" id="date" name="date" required></label></p>

        <button type="submit">Зберегти</button>
    </form>
</div>
{% endblock %}